{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% bootstrap_css %}
</head>
<body>
  {% if user.is_authenticated %}
    <p>{{user.username}}</p>
    <a href="{% url 'accounts:logout' %}">Logout</a>
    <a href="{% url 'posts:create' %}">Wrtie</a>
  {% else %}
    <a href="{% url 'accounts:signup' %}">Sign Up</a>
    <a href="{% url 'accounts:login' %}">Login</a>
  {% endif %}
  {% block body %}
  {% endblock %}
  
  {% bootstrap_javascript jquery='full' %}
</body>
</html>